@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400&display=swap');

h1, h3, span, a, u {
    font-family: 'Poppins', sans-serif;
}

.fixedHeaderContainer {
    background: white;
    min-height: 70px;
}

.fixedHeaderContainer header img {
    height: 0;
}

.fixedHeaderContainer header .headerTitleWithLogo {
    color: $primaryColor;
    font-weight: 700;
    font-size: 32px;
    margin-top: 14px;
    margin-left: 10px;
}

.slidingNav {
    margin-right: 20px;
}

#back-to-top{
    background-color: $primaryColor;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a {
    color: $greyColor;
    font-weight: 400;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
    padding: 5px;
    position: relative;
    background-color: white;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a::before {
    transition: 300ms;
    height: 5px;
    content: "";
    position: absolute;
    bottom: 0;
    background-color: $primaryColor;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a::before {
    width: 0;
    top: 30px;
}

.navigationSlider .slidingNav ul li.siteNavItemActive > a::before {
    width: 80%;
}

.navigationSlider .slidingNav ul li.siteNavGroupActive > a:hover::before {
    width: 80%;
}
